
.relevantCourses {
	margin: 7rem;
}

.relevantCourses > h2 {
	margin: 0px;
	font-size: 50px;
	background: -webkit-linear-gradient(45deg, #619461, #E8E6EF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.coursesContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	color: #d3d8e0;
	margin-top: 2rem;
	grid-gap: 2rem;
	pointer-events: none;
}

.courses {
	background: rgba(255, 255, 255, 0.1);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(7.4px);
	border: 1px solid rgba(255, 255, 255, 0.1);
	padding: 2rem;
}

.courses > h3 {
	font-size: 36px;
	margin: auto;
}

.courses > p {
	font-size: 20px;
}



