footer {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  color: white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  color: #d3d8e0;
  background-color: rgba(255, 255, 255, 0.07); /* opacity */
  backdrop-filter: blur(0.7rem);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
 /* border-bottom-left-radius: 16px; */
 /* border-bottom-right-radius: 16px; */
}
