
.header {
	font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	color: #f8fafc;
	margin: 0px;
	background-color: hsla(0, 0%, 0%, 0.1); /* Black with 50% opacity */
	backdrop-filter: blur(16px);
	border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.headerElements, ul {
	display: flex;
	align-items: center;
	padding-left: 1rem;
	padding-right: 1rem;
	justify-content: space-between;
	height: 4rem;
	margin: 0px;
	list-style-type: none; /* removes bullets from ul */

}

.headerImg {
	padding: 0px;
}

.myName {
	font-size: 20px;
}

.headerListSections {
	display: flex;
	gap: 30px;
}


