
.homeContent, .contactMe button {
	display: flex;
	flex-direction: column;
	color: #d3d8e0;
	width: 60%;
	margin: 7rem;
	margin-bottom: 1rem;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(7.4px);
	border: 1px solid rgba(255, 255, 255, 0.1);
	padding-left: 20px;
	padding-right: 20px;
}

.homeContent > h1 {
	margin: 0px;
	font-size: 50px;
	background: -webkit-linear-gradient(45deg, #619461, #E8E6EF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.homeContent > h2 {
	margin: 0px;
	font-size: 30px;
	background: -webkit-linear-gradient(45deg, #619461, #E8E6EF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.homeContent > p {
	font-size: 20px;
	color: #94A3B8;
	line-height: 1.5;
}

.contactMe .contactMeButton {
	width: 10rem;
	height: 3rem;
	align-items: center;
	justify-content: center;
	margin-top: 0px;
	padding: 0px;
	font-size: 18px;
	font-weight: bold;
	background: rgba(255, 255, 255, 0.06);
	transition: 0.5s; 
}

.contactMeButton:hover {
	transform: translateY(-5px);
	background: rgba(255, 255, 255, 0.2);
}


