
.projectSection {
	margin: 7rem;
}

.projectContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	color: #d3d8e0;
	margin-top: 2rem;
	grid-gap: 2rem;
	pointer-events: none;
}

.project {
	background: rgba(255, 255, 255, 0.1);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(7.4px);
	border: 1px solid rgba(255, 255, 255, 0.1);
	padding: 2rem;
}

.projectsH2 {
	margin: 0px;
	font-size: 50px;

	background: -webkit-linear-gradient(45deg, #619461, #E8E6EF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.project > h3 {
	font-size: 36px;
	margin: auto;
}

.projectContainer:hover > * {
	opacity: 0.4;
}

.projectContainer:hover > *:hover {
	opacity: 1;
	background: rgba(255, 255, 255, 0.15);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
	transform: translateY(-5px);
	transition: background 400ms ease-out, box-shadow 400ms ease-out, transform 400ms ease-out;
}

.projectContainer > * {
	cursor: pointer;
	pointer-events: auto;
	transition: 400ms opacity ease-out, 400ms transform ease-out;
}
