
.skillsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillSection {
  display: flex;
  justify-content: space-evenly;
  width: 1200px;
  color: #d3d8e0;
}

.skillSection > .combinedSection {
  margin-right: 0;
  margin-left: 0;

}

.combinedSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 450px;
  max-width: 100%;
  margin: 3rem auto 0 auto;
  color: #d3d8e0;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(7.4px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding-left: 20px;
  padding-right: 20px;
}

.verticalLine2 {
  height: 300px;
  width: 1px;
  margin: auto;
  background-color: #94A3B8;
  align-self: stretch;
}

.languagesSection,
.databaseSection,
.frameworksSection,
.toolsSection {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.languageItem,
.databaseItem,
.frameworksItem,
.toolItem {
  display: flex;
  flex-direction: row;
}

.languageItem img,
.databaseItem img,
.frameworksItem img,
.toolItem img {
  margin-bottom: 5px;
  margin-right: 6px;
}

.languageItem p,
.databaseItem p,
.frameworksItem p,
.toolItem p {
  text-align: center;
  margin-top: 5px;
  font-size: 20px;
}

h2 {
  margin: 0;
  font-size: 50px;
  background: -webkit-linear-gradient(45deg, #619461, #E8E6EF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.languagesSection > h3,
.databaseSection > h3,
.frameworksSection > h3,
.toolsSection > h3 {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: #d3d8e0;
}
