
.skillSection {
	margin-top: 10rem;
	color: #d3d8e0;
}

.skillSection > h2 {
	margin: 0px;
	font-size: 50px;
	background: -webkit-linear-gradient(45deg, #619461, #E8E6EF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.languagesSection > h3 {
	color: #d3d8e0; 
}

.languages {
	display: flex;
	justify-content: space-evenly;
}

.databases {
	display: flex;
	justify-content: space-evenly;
}

.frameworks {
	display: flex;
	justify-content: space-evenly;
}

.datascience {
	display: flex;
	justify-content: space-evenly;
}

.versioncontrol {
	display: flex;
	justify-content: space-evenly;
}


.cloudplatforms {
	display: flex;
	justify-content: space-evenly;
}

.other {
	display: flex;
	justify-content: space-evenly;
}
